#search{
    border: 1px solid teal;
    width: 60%;
    height: 70px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
#search input{
height: 50px;
width: 50%;
font-size: 20px;
font-weight: bold;
color: black;
margin: 20px 50px
}
#search button{
    height:60px ;
    font-size: 20px;
font-weight: bold;
}

#dis_cont{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 400px;
    /* width: 30%; */
    margin: 20px;
    align-items: center;
font-size: 20px;
}
#dis_cont img{
    height: 250px;
    width: 200px;
}